cluster:
  allowSchedulingOnControlPlanes: true
  etcd:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  proxy:
    extraArgs:
      metrics-bind-address: 0.0.0.0:10249
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0

machine:
  certSANs:
    - {{ node_hostname }}.{{ local_domain }}
  install:
    image: factory.talos.dev/installer/{{ setup_factory_response.json.id }}:v{{ setup_talos_version }}
    disk: {{ setup_install_disk }}
    wipe: false
  network:
    interfaces:
      - interface: {{ setup_interface_name }}
        dhcp: true
        vip:
          ip: {{ cluster_vip }}
    extraHostEntries:
      - ip: {{ cluster_vip }}
        aliases:
          - kube.{{ cluster_domain }}
  time:
      disabled: false
      bootTimeout: 2m0s
      servers:
          - {{ setup_ntp_server }}
  kubelet:
    extraMounts:
      - destination: /var/mnt/longhorn
        type: bind
        source: /var/mnt/longhorn
        options:
          - bind
          - rshared
          - rw
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: 'disk.transport == "sata" && !disk.rotational && !system_disk && disk.size > 450u * GB'
  grow: true
  minSize: 450GB
filesystem:
  type: xfs
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: nut-client
configFiles:
  - content: |-
        MONITOR {{ setup_nut_host }} 1 {{ setup_nut_user }} {{ setup_nut_password }} secondary
        SHUTDOWNCMD "/sbin/poweroff"
    mountPath: /usr/local/etc/nut/upsmon.conf
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 2m
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off
hostname: {{ node_hostname }}
