---
apiVersion: v1
kind: Config
preferences: {}
current-context: "{{ user_name }}-{{ cluster_host }}"
clusters:
  - name: "{{ cluster_host }}"
    cluster:
      certificate-authority: "{{ user_api_crt }}"
      server: https://kube.{{ cluster_domain }}:{{ cluster_port }}
users:
  - name: "{{ user_name }}"
    user:
      client-certificate: "{{ user_crt }}"
      client-key: "{{ user_key }}"
contexts:
  - name: "{{ user_name }}-{{ cluster_host }}"
    context:
      cluster: "{{ cluster_host }}"
      user: "{{ user_name }}"
