---
persistence:
  storageClassName: longhorn
  size: 40Gi

dynmap:
  enabled: true
  cores: 12
  showOfflinePlayers: true
  showSpawnBeds: true
  config:
    resources:
      requests:
        cpu: 10m
        memory: 10Mi
      limits:
        memory: 30Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: niucraft.barrelmaker.dev
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: niucraft-dynmap-tls
        hosts:
          - niucraft.barrelmaker.dev

metrics:
  enabled: true
  dashboard:
    enabled: true
  serviceMonitor:
    enabled: true

properties:
  aikarFlags: true
  enforceWhitelist: true
  memory: "6G"
  motd: "NIUCraft Server"
  ops: "Barrelmaker97"
  existingWhitelist: "SYNCHRONIZE"
  existingOps: "SYNCHRONIZE"
  paperChannel: "default"
  serverName: "NIUCraft"
  modrinthProjects: >-
    chunky
  plugins: >-
    https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v3.1.2/minecraft-prometheus-exporter-3.1.2.jar,
    https://github.com/jacob1/dynmap/releases/download/v1.21.10-spigot.0/Dynmap-3.7-beta-11-1.21.9-spigot-spigot.jar
  type: "PAPER"
  version: "1.21.10"
  viewDistance: "32"
  whitelist: >-
    BakerGang2022,
    Barrelmaker97,
    Lil_Doza,
    LuckierDodge,
    Solo22499,
    Spronix,
    ThePrimeus,
    Celery_Trainer,
    ninjahomie7

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

service:
  type: LoadBalancer
  port: 25565

resources:
  requests:
    cpu: 1000m
    memory: 7500Mi
  limits:
    memory: 8000Mi
