obscura:
    logLevel: debug
    jwtSecret: ENC[AES256_GCM,data:3QDxSNazmgW3h/CkgBrod3M=,iv:ClHZxTBPRkGLfQ88vz5PgJ7m4T7Y5vOSID5G4mHgYkg=,tag:yM05t0cMyE6FWQlO4DGnPg==,type:str]
postgresql:
    enabled: true
    auth:
        password: ENC[AES256_GCM,data:ghlFrWdRQvbGUdSfaMKM1v9m/g==,iv:aKbD4dpZ8NQ2egnCYaCi/qE43Uel6aC+wZy9YgfQx1M=,tag:QenyO141QhLqsTWg7xRzeg==,type:str]
minio:
    rootPassword: ENC[AES256_GCM,data:538fjU5Yjbxs9qF5QITDTCh+Pw==,iv:rYWMryXZAHcE/rMqB6wwaRKTj/mkp5dgJ5kuDr3+JIk=,tag:mawwKOPdv102bvim+bYJnA==,type:str]
podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
    runAsNonRoot: true
    seccompProfile:
        type: RuntimeDefault
resources:
    requests:
        cpu: 100m
        memory: 128Mi
    limits:
        memory: 256Mi
securityContext:
    allowPrivilegeEscalation: false
    capabilities:
        drop:
            - ALL
ingress:
    enabled: true
    className: nginx
    annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST, PUT, OPTIONS, DELETE
        nginx.ingress.kubernetes.io/cors-allow-origin: https://rhelsing.github.io
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    hosts:
        - host: obscura.barrelmaker.dev
          paths:
            - path: /
              pathType: Prefix
    tls:
        - secretName: obscura-tls
          hosts:
            - obscura.barrelmaker.dev
sops:
    age:
        - recipient: age1wk5ucdcd2nzjs2ztpfhr2l0ds284p284f2c7grcmns7hsl0hp42syku7c6
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBKK2psbS8yNTd2RFhkOFpt
            NkthNFNVQWMyK05MYjhyZ0RPWjdIQ043TFRBCkJyYnpaa2x3ZEpPUlNGNXYySEtH
            cnNEZEVtN1hTdlFucUxSeFRkVE40eHcKLS0tIGdPaTdpZ2o4bkIzTEV1NDEyMHB3
            SW5iTDZCVENCaDhJZ3hVWmVwNmw5YWMKPNoiEOcl79bLJCuvjfwRQz+RymYFxeYl
            t8G5ohCFECLtdKK4/trFcCnQR/sfX6R2UNUd7Qsbcjp7Os5Sx5vKgA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-20T18:12:04Z"
    mac: ENC[AES256_GCM,data:64wNBi5reia+BfLuLYgKaxJLTa7+c6k0/lpxZCmors49l45XsKApwETbohT7HLDSoiiarznjWvfK6s8T5UdbE6C0uybWOCEQG+JZwTZ7RZhYRXaFmvAcWf1ZYEEPMEQkboY3wZIbijklWHq6RcHu7tAjPSOqDF6L7GPiaBsOynQ=,iv:5wSbOx+Ev0oum6Qs3g+Z/X8z5h9jOdX+fILito0OJxo=,tag:uKaQJHvCEY9RW0Z7DkwXkA==,type:str]
    encrypted_regex: (^data|^stringData|^cluster|^secrets|^jwtSecret|^certs|^trustdinfo|^rootPassword|^password)
    version: 3.11.0
