obscura:
    logLevel: debug
    jwtSecret: ENC[AES256_GCM,data:RS9m4j6FH/E3aMSX7ZM1BNpZ6usA/wK7/o7tmmwEsuHNe40=,iv:nIDLfB4Rpe9YF8t2BARkrFk5NV1qWQ2hRKM4MjNFx1w=,tag:N2rqld/PL/jeDtsqvjU67w==,type:str]
postgresql:
    enabled: true
    auth:
        password: ENC[AES256_GCM,data:DcQDhZCZT7+KTMUx0YBqgQ==,iv:OlEvEeSouJU1ZQBD4rVflVJaOUkqOW+empANDQQJFaQ=,tag:2Xzn11TYI3+VN4lrrktzZw==,type:str]
podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
    runAsNonRoot: true
    seccompProfile:
        type: RuntimeDefault
resources:
    requests:
        cpu: 100m
        memory: 128Mi
    limits:
        memory: 256Mi
securityContext:
    allowPrivilegeEscalation: false
    capabilities:
        drop:
            - ALL
service:
    type: LoadBalancer
ingress:
    enabled: false
    className: ""
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    # nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    # nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    # nginx.ingress.kubernetes.io/websocket-services: "obscura"
    hosts:
        - host: obscura.local
          paths:
            - path: /
              pathType: ImplementationSpecific
    tls: []
    #  - secretName: obscura-tls
    #    hosts:
    #      - obscura.local
sops:
    age:
        - recipient: age1wk5ucdcd2nzjs2ztpfhr2l0ds284p284f2c7grcmns7hsl0hp42syku7c6
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuTGRnT1g1SXladDJYYmtO
            TEpadUNHYitad3pIbGNnRGxIUVNoTmlLcmtJCjF5V2Zoc1g2eTFhMUtHa0Q0d2JZ
            Y3JnN3VHby9tTWU0R0pQMUdLa2JjQkkKLS0tIFd6SHVqRjRnU1ExRnVsM1pjelEr
            ZlRlMmxSTi9WSTZYWVE5dVEraEZ5TVkKROx2qETm8P7/4hQFtgLxwpBm56YSqQkK
            h84ZIstNZgY/ZEEo9fhsivpKDM49AqroarK3wlukhbrzM9MmRTCDOA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-19T15:01:22Z"
    mac: ENC[AES256_GCM,data:z3PPhX3xOF2wyZVUTMAKN2wlampzG8jgeERuAKi9C5VGnHK+XpLdRPtnacc/kCOl6yuq5tiiiUzwOE0M44F9F58Uo4Vu8O6XLXng3TXfmcx9VqBEwEhhbN/AubcD89dBZFDfPQSAl2LtA7ge03JeNxXr3slmIjuL4/Qoqy/K6Yo=,iv:OxCPLQqI12/hVZlxmVnt+qlgvuEynMwmZjomIzPH4Mg=,tag:KXyx/dhgawVWtq41eJOsMQ==,type:str]
    encrypted_regex: (^data|^stringData|^cluster|^secrets|^jwtSecret|^certs|^trustdinfo|^password)
    version: 3.11.0
