obscura:
    logLevel: debug
    jwtSecret: ENC[AES256_GCM,data:dL+ARDHRqTz8vKh5OSJSY/Muogj4caVMkbwq7w==,iv:mj/f76EPJpde7/vWmCfE9Kz9cQX056vtPb77rzDTs+Q=,tag:+V7JMy8wYfo7he+Zjv+iKA==,type:str]
postgresql:
    enabled: true
    auth:
        password: ENC[AES256_GCM,data:DcQDhZCZT7+KTMUx0YBqgQ==,iv:OlEvEeSouJU1ZQBD4rVflVJaOUkqOW+empANDQQJFaQ=,tag:2Xzn11TYI3+VN4lrrktzZw==,type:str]
podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
    runAsNonRoot: true
    seccompProfile:
        type: RuntimeDefault
resources:
    requests:
        cpu: 100m
        memory: 128Mi
    limits:
        memory: 256Mi
securityContext:
    allowPrivilegeEscalation: false
    capabilities:
        drop:
            - ALL
ingress:
    enabled: true
    className: nginx
    annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST, PUT, OPTIONS, DELETE
        # The specific client domain
        nginx.ingress.kubernetes.io/cors-allow-origin: https://rhelsing.github.io
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    hosts:
        - host: obscura.barrelmaker.dev
          paths:
            - path: /
              pathType: Prefix
    tls:
        - secretName: obscura-tls
          hosts:
            - obscura.barrelmaker.dev
sops:
    age:
        - recipient: age1wk5ucdcd2nzjs2ztpfhr2l0ds284p284f2c7grcmns7hsl0hp42syku7c6
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuTGRnT1g1SXladDJYYmtO
            TEpadUNHYitad3pIbGNnRGxIUVNoTmlLcmtJCjF5V2Zoc1g2eTFhMUtHa0Q0d2JZ
            Y3JnN3VHby9tTWU0R0pQMUdLa2JjQkkKLS0tIFd6SHVqRjRnU1ExRnVsM1pjelEr
            ZlRlMmxSTi9WSTZYWVE5dVEraEZ5TVkKROx2qETm8P7/4hQFtgLxwpBm56YSqQkK
            h84ZIstNZgY/ZEEo9fhsivpKDM49AqroarK3wlukhbrzM9MmRTCDOA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-20T02:13:15Z"
    mac: ENC[AES256_GCM,data:dUydv7C5Nz7P2PiFoUV2dL6y+E1zmdA5qyWBjitg5/2j39i5QXJuCxl/xXdY8oWmIoGwoF0uM0h2GBVo0r9j1YRTSvmZLiEIAiigxlzseOoCui3FHtiBt3x9HNbAsLNrg4NoYtPXuLZWiA1dSh9BF6H0aMBkNl+Q3SDg4SDGzOA=,iv:4MUR8i6xHinQysc3qT4RwLn2priO137TavPGmaEcKc4=,tag:Yf4P5LUfpEmxCAqiEDnD+A==,type:str]
    encrypted_regex: (^data|^stringData|^cluster|^secrets|^jwtSecret|^certs|^trustdinfo|^password)
    version: 3.11.0
