obscura:
    auth:
        jwtSecret: ENC[AES256_GCM,data:M9YiuvQUvW9Hpei8YKdUcAA=,iv:f61yzPx6PoEubeDlULEpVZxFV98q5tmAOZOX4wde870=,tag:x5GxrOcj7nGbf30ry0iGZA==,type:str]
postgresql:
    enabled: true
    primary:
        resourcesPreset: none
        resources:
            requests:
                cpu: 100m
                memory: 256Mi
            limits:
                memory: 512Mi
        persistence:
            enabled: true
            storageClass: longhorn
            size: 8Gi
    auth:
        password: ENC[AES256_GCM,data:tWANQLke3NqjbPROotVsU6wGHQ==,iv:+ibBpRO7Cxf8iq6HcaOrbUcn7/G8ekGdVFamsmBfwBY=,tag:hVQRuoqUcT8bXhiuRBdclg==,type:str]
    metrics:
        enabled: true
        resourcesPreset: none
        resources:
            requests:
                cpu: 100m
                memory: 128Mi
            limits:
                memory: 256Mi
        serviceMonitor:
            enabled: true
            namespace: barrelmaker
            labels:
                release: prometheus-stack
minio:
    persistence:
        enabled: true
        storageClass: longhorn
        size: 10Gi
    resources:
        requests:
            cpu: 100m
            memory: 256Mi
        limits:
            memory: 512Mi
    rootPassword: ENC[AES256_GCM,data:YvsrhEiNNpIpADbXbCdpH6oifQ==,iv:zwYMw6sAoUSjOF1E9yQDU+2HcoVAfDI3u02dAh/vxuo=,tag:ZMuBPBE3X8zQBDrShfyHpg==,type:str]
    metrics:
        serviceMonitor:
            enabled: true
            includeNode: true
            namespace: barrelmaker
            additionalLabels:
                release: prometheus-stack
podSecurityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsUser: 10001
    runAsNonRoot: true
    seccompProfile:
        type: RuntimeDefault
resources:
    requests:
        cpu: 100m
        memory: 128Mi
    limits:
        memory: 256Mi
securityContext:
    allowPrivilegeEscalation: false
    capabilities:
        drop:
            - ALL
ingress:
    enabled: true
    className: nginx
    annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST, PUT, OPTIONS, DELETE
        nginx.ingress.kubernetes.io/cors-allow-origin: https://rhelsing.github.io
        nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    hosts:
        - host: obscura.barrelmaker.dev
          paths:
            - path: /
              pathType: Prefix
    tls:
        - secretName: obscura-tls
          hosts:
            - obscura.barrelmaker.dev
sops:
    age:
        - recipient: age1wk5ucdcd2nzjs2ztpfhr2l0ds284p284f2c7grcmns7hsl0hp42syku7c6
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhMXJLeWwvUDVhUkY1UEd2
            OHVPMks4aTZDM0QzZGRpM0JwZi90cXZDR1RnCnNFckJtWFVvYmZuMVB0aFNDL2NJ
            OXN6Rkc2K3d6aEJ1SDRuNEtQMXBEZmMKLS0tIHZMdk4rVlp2K251QUsyaU1MbEla
            QzVTMHhGSFhqTjBNaHBWMEovbFVpYzQKTRoOW6xSHa4xIp9VK9/T60CzsrlCwVG+
            EPDppEGO+WvmOgN51joNZG6+lBDeDbUI5Avh85rfNrvBVaszeePpoQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-05T01:42:02Z"
    mac: ENC[AES256_GCM,data:vqCKQyzGYRsUeVADhpVSHzdqrpXcE7/KXcRBefy+s5yY7eN1S9Q5pPfC54gd6xNea5VlprLtUcJW7sCQ+w7RrVPuWlQm+fV02Q507AAVlj2lT4nhQkd/dmXibumO826PKs6AvXn/IYwll5HvVi5znQXDsGRp18kU8WHQHJWssGM=,iv:w1UJHGjiq0UEgITtUTvGfZKd+Xi8OWnxKfAPh/EDJn0=,tag:/xixzkt+4L8EYkEnysdrbA==,type:str]
    encrypted_regex: (^data|^stringData|^cluster|^secrets|^jwtSecret|^certs|^trustdinfo|^rootPassword|^password)
    version: 3.11.0
