---
persistence:
  config:
    storageClassName: longhorn
    size: 3Gi
  media:
    storageClassName: jellyfin-media
    size: 50Gi

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

httpRoute:
  enabled: true
  parentRefs:
    - name: "{{ gateway_name }}"
      namespace: "{{ gateway_namespace }}"
      sectionName: https-jellyfin
  hostnames:
    - "jellyfin.{{ external_domain }}"
  filters:
    - type: ResponseHeaderModifier
      responseHeaderModifier:
        set:
{% for header in gateway_response_headers %}
          - name: {{ header.name }}
            value: "{{ header.value }}"
{% endfor %}

resources:
  requests:
    cpu: 700m
    memory: 2500Mi
  limits:
    memory: 3000Mi
