---
pistachio:
  ups:
    host: pollux.lan

replicaCount: 2 # For faster failover

podDisruptionBudget:
  enabled: true
  maxUnavailable: 1

topologySpreadConstraints:
  - maxSkew: 1
    minDomains: 2
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: pistachio
        app.kubernetes.io/instance: pistachio
    matchLabelKeys:
      - pod-template-hash

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

resources:
  requests:
    cpu: 10m
    memory: 5Mi
  limits:
    memory: 10Mi

dashboard:
  enabled: true

serviceMonitor:
  enabled: true

prometheusRules:
  enabled: true
