---
persistence:
  data:
    storageClassName: longhorn-local
  weights:
    storageClassName: longhorn-local

securityContext:
  seccompProfile:
    type: RuntimeDefault
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

httpRoute:
  enabled: true
  parentRefs:
    - name: "{{ gateway_name }}"
      namespace: "{{ gateway_namespace }}"
      sectionName: http
  hostnames:
    - "chat.{{ cluster_domain }}"

resources:
  requests:
    memory: 500Mi
    cpu: 700m
  limits:
    memory: 2Gi
