config:
  clusterWide: true

monitoring:
  podMonitorEnabled: true
  grafanaDashboard:
    create: true
    namespace: monitoring
    labels:
      grafana_dashboard: "1"

resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    memory: 200Mi
