---
podDisruptionBudget:
  minAvailable: null
  maxUnavailable: 1

deployment:
  replicas: 2
  pod:
    topologySpreadConstraints:
      - maxSkew: 1
        minDomains: 2
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: envoy-gateway
            app.kubernetes.io/name: gateway-helm
            control-plane: envoy-gateway
        matchLabelKeys:
          - pod-template-hash
