persistence:
  defaultDataLocality: best-effort
  defaultClassReplicaCount: 2
metrics:
  serviceMonitor:
    enabled: true
defaultSettings:
  allowVolumeCreationWithDegradedAvailability: false
  backupTarget: "nfs://{{ nas_domain }}:/volume1/longhorn-backupstore"
  defaultDataLocality: best-effort
  defaultReplicaCount: "2"
  replicaAutoBalance: least-effort
  snapshotMaxCount: "{{ longhorn_snapshot_max_count }}"
  storageMinimalAvailablePercentage: "10"
httproute:
  enabled: true
  parentRefs:
    - name: "{{ gateway_name }}"
      namespace: "{{ gateway_namespace }}"
      sectionName: https-lan-wildcard
  hostnames:
    - "longhorn.{{ cluster_domain }}"
