fullnameOverride: otel
image:
  repository: "otel/opentelemetry-collector-contrib"
command:
  name: "otelcol-contrib"
mode: deployment
config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  processors:
    batch:
      send_batch_size: 8192
      timeout: 200ms
    k8sattributes:
      extract:
        metadata:
          - k8s.namespace.name
          - k8s.pod.name
          - k8s.pod.uid
          - k8s.node.name
          - k8s.deployment.name
          - k8s.statefulset.name
          - k8s.daemonset.name
          - k8s.cronjob.name
          - k8s.job.name
      pod_association:
        - sources:
            - from: connection
  exporters:
    otlp_grpc/tempo:
      endpoint: tempo.monitoring.svc.cluster.local:4317
      tls:
        insecure: true
    otlp_http/loki:
      endpoint: http://loki.monitoring.svc.cluster.local:3100/otlp
    prometheusremotewrite:
      endpoint: http://prometheus-operated.monitoring.svc.cluster.local:9090/api/v1/write
      tls:
        insecure: true
  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [k8sattributes, batch]
        exporters: [otlp_grpc/tempo]
      metrics:
        receivers: [otlp]
        processors: [k8sattributes, batch]
        exporters: [prometheusremotewrite]
      logs:
        receivers: [otlp]
        processors: [k8sattributes, batch]
        exporters: [otlp_http/loki]
clusterRole:
  create: true
  rules:
    - apiGroups: [""]
      resources: ["pods", "namespaces", "nodes"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["apps"]
      resources: ["replicasets", "deployments", "statefulsets", "daemonsets"]
      verbs: ["get", "watch", "list"]
    - apiGroups: ["batch"]
      resources: ["jobs", "cronjobs"]
      verbs: ["get", "watch", "list"]
