tempo:
  retention: 720h
  reportingEnabled: false
  receivers:
    opencensus: {}
  resources:
    requests:
      cpu: 10m
      memory: 384Mi
    limits:
      memory: 2Gi
persistence:
  enabled: true
  storageClassName: longhorn-protected
  size: 10Gi
