---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: "{{ gateway_name }}"
  namespace: "{{ gateway_namespace }}"
spec:
  gatewayClassName: envoy
  listeners:
    - name: "{{ gateway_http_listener_name }}"
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: "{{ gateway_lan_listener_name }}"
      protocol: HTTPS
      port: 443
      hostname: "*.{{ cluster_domain }}"
      tls:
        mode: Terminate
        certificateRefs:
          - name: wildcard-lan-tls
      allowedRoutes:
        namespaces:
          from: All
    - name: "{{ gateway_apex_listener_name }}"
      protocol: HTTPS
      port: 443
      hostname: "{{ external_domain }}"
      tls:
        mode: Terminate
        certificateRefs:
          - name: wildcard-public-tls
      allowedRoutes:
        namespaces:
          from: All
    - name: "{{ gateway_public_listener_name }}"
      protocol: HTTPS
      port: 443
      hostname: "*.{{ external_domain }}"
      tls:
        mode: Terminate
        certificateRefs:
          - name: wildcard-public-tls
      allowedRoutes:
        namespaces:
          from: All
