---
- name: Create User Namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ workload_namespace }}"

- name: Set Namespace in kubectl context
  changed_when: true
  ansible.builtin.command: >
    kubectl config set-context
    --current
    "--namespace={{ workload_namespace }}"

- name: Create User Resource Quota
  kubernetes.core.k8s:
    state: present
    template: resourcequota-user.yaml

- name: Create User Limit Range
  kubernetes.core.k8s:
    state: present
    template: limitrange-user.yaml

- name: Create Jellyfin Media Persistent Volume
  kubernetes.core.k8s:
    template: "{{ item }}"
  with_fileglob:
    - templates/pv-jellyfin-media.yaml

- name: Install Helm
  become: true
  community.general.snap:
    name: helm
    classic: true
    channel: latest/edge  # needed because helm 4 breaks things

- name: Install Helm Diff
  kubernetes.core.helm_plugin:
    state: present
    plugin_path: "https://github.com/databus23/helm-diff"

- name: Add Helm Repos
  kubernetes.core.helm_repository:
    name: "{{ item.key }}"
    repo_url: "{{ item.value }}"
  loop: "{{ helm_repos | dict2items }}"
  vars:
    helm_repos:
      barrelmaker: https://charts.barrelmaker.dev

- name: Deploy Helm Charts
  kubernetes.core.helm:
    name: "{{ item.key }}"
    chart_ref: "{{ item.value }}"
    release_namespace: "{{ workload_namespace }}"
    update_repo_cache: true
    wait: true
    release_values: "{{ lookup('file', 'files/{{ item.key }}.yaml') | from_yaml }}"
  loop: "{{ helm_charts | dict2items }}"
  vars:
    helm_charts:
      ingress: barrelmaker/ingress
      jellyfin: barrelmaker/jellyfin
      niucraft: barrelmaker/minecraft
      pistachio: barrelmaker/pistachio
      satisfactory: barrelmaker/satisfactory
      website: barrelmaker/website
      # serge: barrelmaker/serge
      # gmod: barrelmaker/gmod

- name: Deploy Helm Charts with encrypted values
  kubernetes.core.helm:
    name: "{{ item.key }}"
    chart_ref: "{{ item.value }}"
    release_namespace: "{{ workload_namespace }}"
    update_repo_cache: true
    wait: true
    release_values: "{{ lookup('community.sops.sops', 'files/{{ item.key }}.sops.yaml') | from_yaml }}"
  loop: "{{ helm_charts | dict2items }}"
  vars:
    helm_charts:
      factorio: barrelmaker/factorio
      loch: barrelmaker/factorio
      # valheim: barrelmaker/valheim
