---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: "{{ postgresql_cluster.key }}"
  namespace: "{{ postgresql_cluster.value.namespace }}"
spec:
  description: "{{ postgresql_cluster.value.description }}"
  instances: {{ postgresql_cluster.value.instances }}
  imageName: "{{ workloads_postgresql_image }}"
  enablePDB: {{ postgresql_cluster.value.enable_pdb | bool | lower }}
  enableSuperuserAccess: false
  bootstrap:
    initdb:
      database: "{{ postgresql_cluster.value.database }}"
      owner: "{{ postgresql_cluster.value.owner }}"
      dataChecksums: true
  storage:
    storageClass: longhorn-cnpg-local
    size: "{{ postgresql_cluster.value.storage_size }}"
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: required
    topologyKey: kubernetes.io/hostname
  resources:
{{ postgresql_cluster.value.resources | to_nice_yaml(indent=2) | indent(4, true) }}
