---
apiVersion: v1
kind: LimitRange
metadata:
  name: "{{ workload_namespace_name }}-default"
  namespace: "{{ workload_namespace_name }}"
spec:
  limits:
    - type: Container
      defaultRequest:
        cpu: 30m
        memory: 64Mi
#     default:
#       cpu: 60m
#       memory: 128Mi
