---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: "{{ workload_namespace_name }}-default"
  namespace: "{{ workload_namespace_name }}"
spec:
  hard:
    requests.cpu: "{{ workload_namespace_config.requests_cpu }}"
    requests.memory: "{{ workload_namespace_config.requests_memory }}"
#   limits.cpu: 20
#   limits.memory: 40Gi
