---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: "{{ cloudnative_pg_cluster_name }}"
  namespace: "{{ cloudnative_pg_cluster.namespace }}"
spec:
  selector:
    matchLabels:
      cnpg.io/cluster: "{{ cloudnative_pg_cluster_name }}"
  podMetricsEndpoints:
    - port: metrics
